.main {
  padding: 100px 0 100px 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap:100px;
}
.characters_favourite {
  display: flex;
  flex-direction: column;
}
.title_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
} 
.title {
  font-size: 2.5rem;
  padding: 10px;
} 
.icon {
  width: 60px;
}
.cards {
  display: grid;
  gap: 4px;
}
.four_columns {
  grid-template-columns: repeat(4, 1fr);
}
.card {
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.1), 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 237px;
  height: 263px;
}
.card_img {
  width: 227px;
  height: 227px;
}
.card_name {
  margin-top: 10px;
  font-weight: bold;
}
.favourite {
  background-color: cadetblue;
}
.three_columns {
  grid-template-columns: repeat(3, 1fr);
}
.favourites {
  display: flex;
  flex-direction: column;
  gap: 4px;
}