<main class="main">
  <div class="characters"> 
      <section class="title_container">
        <h2 class="title">Personajes</h2>
        <img class="icon" src="./images/icono.png" alt="Imagen del Mikey Mouse">
      </section>
      <ul class="cards four_columns js__cards"></ul>
  </div>
  <div class="characters_favourites">
    <section class="title_container">
      <h2 class="title">Favoritos</h2>
      <img class="icon" src="./images/icono.png" alt="Imagen del Mikey Mouse">
    </section>
    <ul class="favourites js__favourites"></ul>
  </div>
</main>